In [18]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv('Tweets.csv')
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [20]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"http\S+|www\S+|https\S+", "", text, flags=re.MULTILINE)
    text = text.translate(str.maketrans("", "", string.punctuation))
    return text

df['cleaned_text'] = df['text'].astype(str).apply(clean_text)
df[['text', 'cleaned_text']].head(10)

,text,cleaned_text
0,@VirginAmerica What @dhepburn said.,virginamerica what dhepburn said
1,@VirginAmerica plus you've added commercials t...,virginamerica plus youve added commercials to ...
2,@VirginAmerica I didn't today... Must mean I n...,virginamerica i didnt today must mean i need t...
3,@VirginAmerica it's really aggressive to blast...,virginamerica its really aggressive to blast o...
4,@VirginAmerica and it's a really big bad thing...,virginamerica and its a really big bad thing a...
5,@VirginAmerica seriously would pay $30 a fligh...,virginamerica seriously would pay 30 a flight ...
6,"@VirginAmerica yes, nearly every time I fly VX...",virginamerica yes nearly every time i fly vx t...
7,@VirginAmerica Really missed a prime opportuni...,virginamerica really missed a prime opportunit...
8,"@virginamerica Well, I didn't…but NOW I DO! :-D",virginamerica well i didnt…but now i do d
9,"@VirginAmerica it was amazing, and arrived an ...",virginamerica it was amazing and arrived an ho...